<%= form_for @meal, remote: true do |f| %>
  <div>
    <div class="form-group row">
      <div class="form-group">
         <%= f.label :time, class:"col-sm-2 col-form-label" %></br>
         <%= f.label :Breakfast, 'Breakfast' %>
         <%= f.radio_button :time, 'Breakfast', :checked => true %>
         <%= f.label :Lunch, 'Lunch' %>
         <%= f.radio_button :time, 'Lunch' %>
         <%= f.label :Dinner, 'Dinner' %>
         <%= f.radio_button :time, 'Dinner' %>
         <div class="col-0">
           <%= text_field_tag :eat_datetime, params[:eat_datetime], class: "form-control", type: "datetime-local", value: Date.today, id: "example-datetime-local-input" %>
           When did you eat current food?</br>
           You can leave it blank if its today
         </div>

       </div>
      </div>
    <div class="form-group row col-sm-10">
      <%= f.submit class: "btn btn-primary btn-lg my-sm-3"%>
    </div>
  </div>
<% end %>
